git remote add origin https://github.com/Wehlage16/Marie-Boutique-.git
git branch -M main
git push -u origin maingit remote add origin https://github.com/Wehlage16/Marie-Boutique-.git
git branch -M main
git push -u origin mainhttps://github.com/Wehlage16/Marie-Boutique-.git0xA2C853779F505A7C4316B1eC019d8fDfa6cAF958<iframe src="https://1drv.ms/b/c/f371f9d4ba7c888e/IQOOiHy61PlxIIDzZgAAAAAAAdu5HyzQncE6TkYkrHNbEAQ" width="98" height="120" frameborder="0" scrolling="no"></iframe>https://www.dropbox.com/scl/fi/ixunuwxtqfevfiw7g6uum/6c7faae2-e9a6-4752-910f-b2a3596442b7?rlkey=hjpwaarfar8vv79b7g7n56zwn&dl=0.idea
.vscode

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

